html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary, .btn-primary:hover {
  background-color: red;
  color:white;
  padding: 10px;
}
.nav-link:hover {
  background-color: red; /* Change background color on hover */
  color: white !important; /* Change text color on hover */
  border-radius: 5px; /* Add rounded corners */
  transition: 0.3s; /* Smooth transition */
}