@model Rsk.AspNetCore.Fido.Dtos.Base64FidoRegistrationChallenge

<h2>Please use your authenticator</h2>

<script src="~/js/fido.js"></script>

<script>
   register("@Html.Raw(Model.Base64Challenge)", "@Model.RelyingPartyId", "@Html.Raw(Model.Base64UserHandle)", "@Model.UserId", '/Fido/CompleteRegistration?username=@Model.UserId')
</script>