@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Authenticated!</h1>
    <p>
        Hello, @User.FindFirstValue("sub")
    </p>
}
else
{
    <h1>Unauthenticated</h1>
}