@model Core.Models.LoginModel

<h2>Login</h2>
<form asp-action="Login">
    <div class="form-group">
        <label asp-for="UserId"></label> 
        <input asp-for="UserId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>