@page
@model Core.Pages.Login.IndexModel

<h2>Login</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="UserId">Username (optional)</label> 
        <input asp-for="UserId" class="form-control" />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Sign-in with Passkey</button>
</form>